In [5]:
def display():
    print('Word Counter')    ## Hello Python, rakesh here
    
def user_input():
    string = input('''Please enter the sentence to count the number of words,
    and Press Enter to end the sentence: ''')
    return string

def word_counter(s):
    my_list = s.split()
    print('you string has following number of words: ',len(my_list))
    
display()
s = user_input()
word_counter(s)

Word Counter
Please enter the sentence to count the number of words,
    and Press Enter to end the sentence: Hello Python, rakesh here
you string has following number of words:  4

In [1]:
import pandas as pd

df = pd.read_csv(r"C:\Users\rkumarkuwar\Desktop\nyc-taxi.csv")

In [3]:
df.memory_usage(index=True).sum()

1044454

In [4]:
df.info(memory_usage=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11734 entries, 0 to 11733
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   passengerCount        11147 non-null  float64
 1   tripDistance          11734 non-null  float64
 2   hour_of_day           11734 non-null  int64
 3   day_of_week           11734 non-null  int64
 4   month_num             11734 non-null  int64
 5   normalizeHolidayName  11734 non-null  object
 6   isPaidTimeOff         11734 non-null  bool
 7   snowDepth             11734 non-null  float64
 8   precipTime            11734 non-null  int64
 9   precipDepth           11734 non-null  int64
 10  temperature           11734 non-null  float64
 11  totalAmount           11617 non-null  float64
dtypes: bool(1), float64(5), int64(5), object(1)
memory usage: 1020.0+ KB

In [5]:
df.memory_usage(deep=True).sum()

1669867

In [2]:
df = pd.read_parquet("./images/part-1.parquet")
df.head()

,upc_store,date_wk_start,Units,Manufacturer_Name,Category_Name,Sub_Category_Name,holiday_cnt,date_wk_start_sin6_K1,date_wk_start_cos6_K1,date_wk_start_sin8_K1,...,half,quarter,month_lbl,mweek,week,week2,week3,week4,mday7,store_upc_wkcnt
0,00050000693863_1301,2018-11-11 00:00:00+00:00,20,NESTLE USA INC,CREAMS/CREAMERS,RFG COFFEE CREAMER,1,-0.563320,0.826239,-0.900969,...,2,4,November,2,45,1,0,1,2,98
1,00050000693863_1301,2018-11-18 00:00:00+00:00,16,NESTLE USA INC,CREAMS/CREAMERS,RFG COFFEE CREAMER,1,0.433884,0.900969,-0.943883,...,2,4,November,3,46,0,1,2,3,99
2,00050000693863_1301,2018-11-25 00:00:00+00:00,11,NESTLE USA INC,CREAMS/CREAMERS,RFG COFFEE CREAMER,0,0.997204,0.074730,-0.433884,...,2,4,November,4,47,1,2,3,4,100
3,00050000693863_1301,2018-12-02 00:00:00+00:00,23,NESTLE USA INC,CREAMS/CREAMERS,RFG COFFEE CREAMER,0,0.563320,-0.826239,0.330279,...,2,4,December,1,48,0,0,0,1,101
4,00050000693863_1301,2018-12-09 00:00:00+00:00,12,NESTLE USA INC,CREAMS/CREAMERS,RFG COFFEE CREAMER,0,-0.433884,-0.900969,0.900969,...,2,4,December,2,49,1,1,1,2,102

In [3]:
df.columns

Index(['upc_store', 'date_wk_start', 'Units', 'Manufacturer_Name',
       'Category_Name', 'Sub_Category_Name', 'holiday_cnt',
       'date_wk_start_sin6_K1', 'date_wk_start_cos6_K1',
       'date_wk_start_sin8_K1', 'date_wk_start_cos8_K1',
       'date_wk_start_sin10_K1', 'date_wk_start_cos10_K1',
       'date_wk_start_sin12_K1', 'date_wk_start_cos12_K1',
       'date_wk_start_sin_year', 'date_wk_start_cos_year', 'year', 'half',
       'quarter', 'month_lbl', 'mweek', 'week', 'week2', 'week3', 'week4',
       'mday7', 'store_upc_wkcnt'],
      dtype='object')